@using gad_checa_gestion_cementerio.Utils
@model IEnumerable<gad_checa_gestion_cementerio.Models.ContratoModel>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover mb-0">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="text-uppercase small fw-bold">Id</th>
                    <th scope="col" class="text-uppercase small fw-bold">Contrato</th>
                    <th scope="col" class="text-uppercase small fw-bold">Monto Contrato</th>
                    <th scope="col" class="text-uppercase small fw-bold">Monto Pagado</th>
                    <th scope="col" class="text-uppercase small fw-bold">Monto Pendiente</th>
                    <th scope="col" class="text-uppercase small fw-bold">Fecha de vencimiento</th>
                    <th scope="col" class="text-end text-uppercase small fw-bold">Acciones</th>
                </tr>
            </thead>
            <tbody class="small">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.NumeroSecuencial</td>
                        <td>@CurrencyHelper.FormatCurrency(item.MontoTotal)</td>
                        <td class="@(item.MontoPagado == 0 ? "" : "text-success")">
                            @CurrencyHelper.FormatCurrency(item.MontoPagado)</td>
                        <td class="@(item.MontoPendiente == 0 ? "" : "text-danger")">
                            @CurrencyHelper.FormatCurrency(item.MontoPendiente)</td>
                        <td>@(item.FechaFin?.ToString("dd/MM/yyyy") ?? "-")</td>
                        <td class="text-end">
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm btn-outline-info me-2" asp-action="Facturas" asp-route-id="@item.Id">
                                    <i class="ti ti-file-text"></i> Ver Pagos
                                </a>
                                @if (item.MontoPendiente > 0)
                                {
                                    <a class="btn btn-sm btn-outline-primary" asp-action="Cobrar" asp-route-id="@item.Id">
                                        <i class="ti ti-edit"></i> Cobrar
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="p-3">
        <p class="text-muted mb-0">No hay registros disponibles.</p>
    </div>
}
