@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
    content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
  <meta name="keywords"
    content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
  <meta name="author" content="CodedThemes">
  <title>@ViewData["Title"] - Gad Checa - Gestión Cementerio</title>

  <link rel="icon" href="~/images/favicon.svg" type="image/x-icon"> <!-- [Google Font] Family -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
    id="main-font-link">
  <!-- [Tabler Icons] https://tablericons.com -->
  <link rel="stylesheet" href="~/fonts/tabler-icons.min.css">
  <!-- [Feather Icons] https://feathericons.com -->
  <link rel="stylesheet" href="~/fonts/feather.css">
  <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
  <link rel="stylesheet" href="~/fonts/fontawesome.css">
  <!-- [Material Icons] https://fonts.google.com/icons -->
  <link rel="stylesheet" href="~/fonts/material.css">
  <!-- [Template CSS Files] -->
  <link rel="stylesheet" href="~/css/style.css" id="main-style-link">
  <link rel="stylesheet" href="~/css/style-preset.css">
  <link rel="stylesheet" href="~/css/site.css">
</head>

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
  <!-- Pre-loader -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- Sidebar Menu -->
  <nav class="pc-sidebar">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="~/" class="b-brand text-primary">
          <!-- Change your logo from here -->
          <img src="~/images/logo.jpeg" class="img-fluid logo-lg" width="85" height="85" alt="logo">
        </a>
      </div>
      <div class="navbar-content">
        <ul class="pc-navbar">
          <li class="pc-item">
            <a href="~/" class="pc-link">
              <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
              <span class="pc-mtext">Dashboard</span>
            </a>
          </li>
          <li class="pc-item pc-caption">
            <label>Contratos</label>
            <i class="ti ti-dashboard"></i>
          </li>
          <li class="pc-item">
            <a href="~/Contratos/create" class="pc-link">
              <span class="pc-micon"><i class="ti ti-folder-plus"></i></span>
              <span class="pc-mtext">Nuevo</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="~/Contratos" class="pc-link">
              <span class="pc-micon"><i class="ti ti-list-search"></i></span>
              <span class="pc-mtext">Listado</span>
            </a>
          </li>
          <li class="pc-item pc-caption">
            <label>Gestion</label>
            <i class="ti ti-news"></i>
          </li>
          <li class="pc-item">
            <a href="~/Personas" class="pc-link">
              <span class="pc-micon"><i class="ti ti-users"></i></span>
              <span class="pc-mtext">Personas</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="~/Cobros" class="pc-link">
              <span class="pc-micon"><i class="ti ti-coin"></i></span>
              <span class="pc-mtext">Cobros</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="~/Difuntos" class="pc-link">
              <span class="pc-micon"><i class="ti ti-cloud"></i></span>
              <span class="pc-mtext">Difuntos</span>
            </a>
          </li>
          <li class="pc-item pc-caption">
            <label>Other</label>
            <i class="ti ti-brand-chrome"></i>
          </li>
          @* <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-menu"></i></span><span
                class="pc-mtext">Menu levels</span><span class="pc-arrow"><i
                  data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
              <li class="pc-item"><a class="pc-link" href="#!">Level 2.1</a></li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link">Level 2.2<span class="pc-arrow"><i
                      data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                  <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                  <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                  <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i
                          data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                      <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                      <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li> *@
          <li class="pc-item">
            <a href="~/Cementerio" class="pc-link">
              <span class="pc-micon"><i class="ti ti-settings"></i></span>
              <span class="pc-mtext">Ajustes</span>
            </a>
          </li>
          <li class="pc-item"></li>
          <a href="~/Reportes/CuentasPorCobrar" class="pc-link">
            <span class="pc-micon"><i class="ti ti-chart-dots"></i></span>
            <span class="pc-mtext">Reportes</span>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
  <header class="pc-header">
    <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="dropdown pc-h-item d-inline-flex d-md-none">
            <a class="pc-head-link dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="ti ti-search"></i>
            </a>
            <div class="dropdown-menu pc-h-dropdown drp-search">
              <form class="px-3">
                <div class="form-group mb-0 d-flex align-items-center">
                  <i data-feather="search"></i>
                  <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                </div>
              </form>
            </div>
          </li>
          <li class="pc-h-item d-none d-md-inline-flex">
            <form class="header-search">
              <i data-feather="search" class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search here. . .">
            </form>
          </li>
        </ul>
      </div>
      <!-- [Mobile Media Block end] -->
      <div class="ms-auto">
        <ul class="list-unstyled">
          <li class="dropdown pc-h-item">
            <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="ti ti-mail"></i>
            </a>
            <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
              <div class="dropdown-header d-flex align-items-center justify-content-between">
                <h5 class="m-0">Notificaciones</h5>
                <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative"
                style="max-height: calc(100vh - 215px)">
                <div class="list-group list-group-flush w-100">
                  @await Component.InvokeAsync("NotifyDropdown")
                </div>

              </div>
              <div class="dropdown-divider"></div>
              <div class="text-center py-2">
                <a href="~/Notify" class="link-primary">ver todos</a>
              </div>
            </div>
          </li>
          <li class="dropdown pc-h-item header-user-profile">
            <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
              <img src="~/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
              <span>@UserManager.GetUserName(User)</span>
            </a>
            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
              <div class="dropdown-header">
                <div class="d-flex mb-1">
                  <div class="flex-shrink-0">
                    <img src="~/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1">@UserManager.GetUserName(User)</h6>
                    @{
                      var user = await UserManager.GetUserAsync(User);
                      var roles = await UserManager.GetRolesAsync(user);
                    }
                    <span>@roles.FirstOrDefault()</span>
                  </div>
                  <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
                </div>
              </div>
              <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="drp-t1" data-bs-toggle="tab" data-bs-target="#drp-tab-1"
                    type="button" role="tab" aria-controls="drp-tab-1" aria-selected="true"><i class="ti ti-user"></i>
                    Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="drp-t2" data-bs-toggle="tab" data-bs-target="#drp-tab-2" type="button"
                    role="tab" aria-controls="drp-tab-2" aria-selected="false"><i class="ti ti-settings"></i>
                    Setting</button>
                </li>
              </ul>
              <div class="tab-content" id="mysrpTabContent">
                <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1"
                  tabindex="0">
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-edit-circle"></i>
                    <span>Edit Profile</span>
                  </a>
                  <form id="formLogout" asp-controller="Account" asp-action="Logout" method="post"
                    class="dropdown-item">
                    <button type="submit" class="btn btn-link p-0 text-decoration-none">
                      <i class="ti ti-power"></i>
                      <span>Logout</span>
                    </button>
                  </form>
                </div>
                <div class="tab-pane fade" id="drp-tab-2" role="tabpanel" aria-labelledby="drp-t2" tabindex="0">

                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-user"></i>
                    <span>Account Settings</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              @* <div class="page-header-title">
                <h5 class="m-b-10">@ViewData["Title"]</h5>
              </div> *@
              <ul class="breadcrumb small">
                @* <li class="breadcrumb-item">
                  <a href="~/">Home</a>
                </li> *@
                @if (ViewContext.RouteData.Values["controller"] != null)
                {
                  var controller = ViewContext.RouteData.Values["controller"]?.ToString();
                  var action = ViewContext.RouteData.Values["action"]?.ToString();
                  @if (@action != @controller)
                  {
                    <li class="breadcrumb-item">
                      <a href="~/@controller">@controller</a>
                    </li>
                  }
                  @if (!string.Equals(action, "Index", StringComparison.OrdinalIgnoreCase))
                  {
                    <li class="breadcrumb-item active" aria-current="page">@action</li>
                  }
                }
                @if (ViewData["Breadcrumbs"] is IEnumerable<string> breadcrumbs)
                {
                  foreach (var crumb in breadcrumbs)
                  {
                    <li class="breadcrumb-item">@crumb</li>
                  }
                }
                else
                {
                  <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      @RenderBody()
    </div>
  </div>

  <!-- [ Main Content ] end -->
  <footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col-sm my-1">
          <p class="m-0">Sistema realizado por <a href="https://teobu.com" target="_blank">www.teobu.com</a></p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="~/js/plugins/popper.min.js"></script>
  <script src="~/js/plugins/simplebar.min.js"></script>
  <script src="~/js/plugins/bootstrap.min.js"></script>
  <script src="~/js/fonts/custom-font.js"></script>
  <script src="~/js/pcoded.js"></script>
  <script src="~/js/plugins/feather.min.js"></script>



  <script>layout_change('light');</script>
  <script>change_box_container('false');</script>
  <script>layout_rtl_change('false');</script>
  <script>preset_change("preset-1");</script>
  <script>font_change("Public-Sans");</script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
<!-- [Body] end -->

</html>