@model List<gad_checa_gestion_cementerio.Models.Views.ReporteCuentasPorCobrarViewModel>

@{
    ViewData["Title"] = "Cuentas por cobrar";
    ViewData["EntityType"] = "CuentasPorCobrar";
    Layout = "~/Views/Reportes/_ReportesLayout.cshtml";
}

<div class="card">

    <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
        <div>
            <h4 class="card-title mb-2">@ViewData["Title"]</h4>
            <p class="text-muted">
                Visualice y gestione las cuentas por cobrar del cementerio. Puede generar un reporte en PDF con los
                detalles de las cuentas pendientes y pagadas.
            </p>
        </div>
        <div class="d-flex gap-2 align-items-center mt-3 mt-md-0 flex-wrap-nowrap">
            <a class="btn btn-primary btn-md" asp-action="CuentasPorCobrarPdf">
                <i class="ti ti-download"></i> <span class="no-wrap">Generar PDF</span><span class="no-wrap">
                </span>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover mb-0">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Contrato</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Difunto</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Fecha Vencimiento</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody class="small">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NumeroSecuencialContrato</td>
                        <td>@item.NombreResponsable</td>
                        <td>@item.TelefonoResponsable</td>
                        <td>@item.NombreDifunto</td>
                        <td>
                            @item.Bloque - Piso @item.Piso - Bóveda @item.NumeroBoveda
                        </td>
                        <td class="text-end">@item.FechaVencimiento.ToShortDateString()</td>
                        <td>$@item.Monto</td>
                        <td>
                            @(item.Pagada ? "Pagada" : "Pendiente")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
