@model List<gad_checa_gestion_cementerio.Models.Views.ReporteCuentasPorCobrarViewModel>

@{
    ViewData["Title"] = "CuentasPorCobrar";
    ViewData["EntityType"] = "CuentasPorCobrar";
    Layout = "~/Views/Reportes/_ReportesLayout.cshtml";
}

<div class="min-h-screen bg-white p-6 flex flex-col items-center">
    <h2 class="text-gray-700 mb-6 text-2xl font-semibold">Reporte Cuentas Por Cobrar</h2>

    <form method="get" asp-action="CuentasPorCobrarPdf" class="mb-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Generar PDF
        </button>
    </form>

    <div class="overflow-x-auto">
        <table class="table-auto border border-gray-200 shadow-sm rounded-lg" style="width: 90%; text-align: center;">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Contrato</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Responsable</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Teléfono</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Difunto</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Ubicación</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Fecha Vencimiento</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Monto</th>
                    <th class="px-4 py-2 text-xs font-medium text-gray-500 uppercase">Estado</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="px-4 py-2 text-sm text-gray-900">@item.NumeroSecuencialContrato</td>
                        <td class="px-4 py-2 text-sm text-gray-900">@item.NombreResponsable</td>
                        <td class="px-4 py-2 text-sm text-gray-900">@item.TelefonoResponsable</td>
                        <td class="px-4 py-2 text-sm text-gray-900">@item.NombreDifunto</td>
                        <td class="px-4 py-2 text-sm text-gray-900">
                            @item.Bloque - Piso @item.Piso - Bóveda @item.NumeroBoveda
                        </td>
                        <td class="px-4 py-2 text-sm text-gray-900">@item.FechaVencimiento.ToShortDateString()</td>
                        <td class="px-4 py-2 text-sm text-gray-900">$@item.Monto</td>
                        <td class="px-4 py-2 text-sm text-gray-900">
                            @(item.Pagada ? "Pagada" : "Pendiente")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
